{% extends "webstack/base.html" %}
{% load static %}
{% block sidebar %}
        <div class="sidebar-menu toggle-others fixed">
            <div class="sidebar-menu-inner">
                <header class="logo-env">
                    <!-- logo -->
                    <div class="logo">
                        <a href="index.html" class="logo-expanded">
                            <img src="{% static 'webstack/images/logo@2x.png' %}" width="100%" alt="" />
                        </a>
                        <a href="index.html" class="logo-collapsed">
                            <img src="{% static 'webstack/images/logo-collapsed@2x.png' %}" width="40" alt="" />
                        </a>
                    </div>
                    <div class="mobile-menu-toggle visible-xs">
                        <a href="#" data-toggle="user-info-menu">
                            <i class="linecons-cog"></i>
                        </a>
                        <a href="#" data-toggle="mobile-menu">
                            <i class="fa-bars"></i>
                        </a>
                    </div>
                </header>
                <ul id="main-menu" class="main-menu">
                    <li>
                        <a href="#常用推荐" class="smooth">
                            <i class="linecons-star"></i>
                            <span class="title">常用推荐</span>
                        </a>
                    </li>
                    <li>
                        <a href="#社区资讯" class="smooth">
                            <i class="linecons-doc"></i>
                            <span class="title">社区资讯</span>
                        </a>
                    </li>
                    {% for item in data %}
                    <li>
                        <a>
                            <i class="{{ item.cate.icon }}"></i>
                            <span class="title">{{ item.cate }}</span>
                        </a>
                        <ul>
                            {% for sub in item.subcate %}
                            <li>
                                <a href="#{{ sub.subcate }}" class="smooth">
                                    <span class="title">{{ sub.subcate }}</span>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>

                    {% endfor %}
                    <!-- <div class="submit-tag">
                        <a href="about.html">
                            <i class="linecons-heart"></i>
                            <span class="tooltip-blue">关于本站</span>
                            <span class="label label-Primary pull-right hidden-collapsed">♥︎</span>
                        </a>
                    </div> -->
                </ul>
            </div>
        </div>
{% endblock %}
{% block main_content %}
        <div class="main-content">
            <nav class="navbar user-info-navbar" role="navigation">
                <!-- User Info, Notifications and Menu Bar -->
                <!-- Left links for user info navbar -->
                <ul class="user-info-menu left-links list-inline list-unstyled">
                    <li class="hidden-sm hidden-xs">
                        <a href="#" data-toggle="sidebar">
                            <i class="fa-bars"></i>
                        </a>
                    </li>
                    <!-- <li class="dropdown hover-line language-switcher">
                        <a href="../cn/index.html" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="{% static 'webstack/images/flags/flag-cn.png' %}" alt="flag-cn" /> Chinese
                        </a>
                        <ul class="dropdown-menu languages">
                            <li>
                                <a href="../en/index.html">
                                    <img src="{% static 'webstack/images/flags/flag-us.png' %}" alt="flag-us" /> English
                                </a>
                            </li>
                            <li class="active">
                                <a href="../cn/index.html">
                                    <img src="{% static 'webstack/images/flags/flag-cn.png' %}" alt="flag-cn" /> Chinese
                                </a>
                            </li>
                        </ul>
                    </li> -->
                </ul>
                <ul class="user-info-menu right-links list-inline list-unstyled">
                    <li class="hidden-sm hidden-xs">
                        <a href="https://github.com/WebStackPage/WebStackPage.github.io" target="_blank">
                            <i class="fa-github"></i>  GitHub
                        </a>
                    </li>
                </ul>
                <!-- <a href="https://github.com/WebStackPage/WebStackPage.github.io" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png' %}" alt="Fork me on GitHub"></a> -->

            </nav>
            <!-- 常用推荐 -->
            {% for item in data %}
            {% for sub in item.subcate %}
            <h4 class="text-gray"><i class="linecons-tag" style="margin-right: 7px;" id="{{sub.subcate}}"></i>{{sub.subcate}}</h4>
            {% for site in sub.sites %}
            {% if forloop.counter0|divisibleby:4 %}
            <div class="row">
            {% endif %}
                <div class="col-sm-3">
                    <div class="xe-widget xe-conversations box2 label-info" onclick="window.open('{{site.url}}', '_blank')" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="https://dribbble.com/">
                        <div class="xe-comment-entry">
                            <a class="xe-user-img">
                                <img data-src="{{site.logo_url}}" class="lozad img-circle" width="40">
                            </a>
                            <div class="xe-comment">
                                <a href="#" class="xe-user-name overflowClip_1">
                                    <strong>{{site.name}}</strong>
                                </a>
                                <p class="overflowClip_2">全球UI设计师作品分享平台。</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% if forloop.counter|divisibleby:4 or forloop.last %}
            </div>
            {% endif %}
            {% endfor %}
            {% endfor %}
            {% endfor %}
            <br />
            <!--END UED团队 -->
            <!-- Main Footer -->
            <!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
            <!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
            <!-- Or class "fixed" to  always fix the footer to the end of page -->
            <footer class="main-footer sticky footer-type-1">
                <div class="footer-inner">
                    <!-- Add your copyright text here -->
                    <div class="footer-text">
                        &copy; 2021
                        <a href="../cn/about.html"><strong>Quanfita</strong></a> design by <a href="http://viggoz.com" target="_blank"><strong>Viggo</strong></a>
                        <!--  - Purchase for only <strong>23$</strong> -->
                    </div>
                    <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
                    <div class="go-up">
                        <a href="#" rel="go-top">
                            <i class="fa-angle-up"></i>
                        </a>
                    </div>
                </div>
            </footer>
        </div>
{% endblock %}